.breadcrumbs {
  margin: 0 0 3rem;

  ul {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    color: $grey;
  }

  // Add 'slash' unless it's the last child
  li:not(:last-child):after {
    content: '\00a0/\00a0';
  }

  a {
    text-decoration: none;
    color: darken($grey, 20%);
  }
}