body {

  &:after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    border: 3px dashed $zesty;
    border-radius: $border-radius;
    background: transparentize($zesty, 0.9);
    opacity: 0;
    transition: opacity 200ms;
  }

  &.dropzone:after {
    opacity: 1;
  }

}