.file-area-header {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  border-top: 1px solid $grey-light;
  margin-top: $section-padding-vertical / 3;

  p {
    margin: 0;
  }

  .hint {
    display: flex;
    align-items: center;
    font-size: $font-size - 1px;
    fill: lighten($text, 25%);

    svg {
      margin-right: 0.5rem;
      height: 22px;
      width: 22px;
    }

    p {
      color: lighten($text, 25%);
    }
  }

  & > div:not(.hint) {
    flex-grow: 1;
  }

  .button {
    font-size: $font-size - 1px;
    justify-content: center;
    margin-top: .75rem;

    svg {
      height: 20px;
      width: 20px;
    }
  }
}

.file-area {
  border: 2px dashed $zesty;
  border-radius: $border-radius;
  padding: 2rem;

  .empty-state {
    padding: 3rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
      display: block;
      width: 240px;
    }

    h2 {
      font-size: 1rem;
      margin: 1.25rem 0 0.25rem;
    }

    p {
      margin: 0;
    }
  }

  &:not(.empty) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 312px));
    grid-gap: 2rem;
    border-color: $grey-light;
  }

  .file {
    position: relative;
    border-radius: 2px 2px 0 0;
    overflow: hidden;

    .direct-upload-progress {
      height: 8px;
      background: $zesty;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      transform-origin: left;
      transform: scaleX(0);
      transition: transform 1s;
    }

    .state-wrapper {
      position: absolute;
      bottom: 0;
      right: 0;
      background: $zesty;
      color: $zesty-inverted;
      fill: $zesty-inverted;
      border-top-left-radius: $border-radius - 1px;
      display: flex;
      align-items: center;
      padding: 0.5rem 0.75rem;
      overflow: hidden;

      .material-icons {
        margin-right: 0.5rem;
      }

      .rotating {
        animation-name: rotate;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }

      .uploading {
        animation-name: upload;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
      }
    }

    .image {
      position: relative;
      width: 100%;
      height: 200px;
      background-color: $grey;
      background-position: center;
      background-size: cover;
      border-radius: $border-radius - 1px;
      margin-bottom: 1rem;
      filter: grayscale(0%);
      transition: filter 300ms;
      overflow: hidden;
    }

    .remove-button {
      position: absolute;
      top: 0;
      right: 0;
      padding: 0.5rem;
      display: flex;
      align-items: center;
      background: $danger;
      border: none;
      cursor: pointer;
      opacity: 0;
      transition: opacity 300ms;
      fill: $danger-inverted;
      color: $danger-inverted;
      border-bottom-left-radius: $border-radius;
      border-top-right-radius: $border-radius - 1px;
      line-height: 1.0;
      vertical-align: middle;

      &:focus {
        opacity: 1;
      }

      svg {
        margin-right: 0.25rem;
        height: 20px;
        width: 20px;
      }
    }

    &:hover .remove-button {
      opacity: 1;
    }

    input {
      border: none;
      padding: 0.25rem 0;
    }

    .title {
      color: $text-bold;
      font-size: 1rem;
    }

  }
}

.file-area-footer {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: 1rem 0 0;

  .buttons {
    margin-top: 0;
  }
}

@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }

  to {
    transform: rotateZ(-360deg);
  }
}

@keyframes upload {
  10% {
    transform: translateY(0);
  }

  54% {
    transform: translateY(-40px);
  }

  56% {
    transform: translateY(40px);
  }

  100% {
    transform: translateY(0);
  }
}

@media (min-width: 780px) {
  .file-area-header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    & > div:not(.hint) {
      flex-grow: unset;
    }

    .button {
      margin-top: 0;
    }
  }

  .file-area .empty-state h2 {
    font-size: 1.25rem;
  }
}