.images-header {
  align-items: center;
  border-top: 1px solid $grey-light;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  margin-top: $section-padding-vertical / 3;
  padding: 1.5rem 0;

  .hint {
    align-items: center;
    display: flex;
    fill: lighten($text, 25%);
    font-size: $font-size - 1px;

    svg {
      height: 22px;
      margin-right: 0.5rem;
      width: 22px;
    }

    p {
      color: lighten($text, 25%);
      margin: 0;
    }
  }
}

.images {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  a {
    display: block;
    text-decoration: none;
  }

  .image {
    background: $grey center;
    background-size: cover;
    border-radius: $border-radius - 1px;
    line-height: 1;
    margin-bottom: 1rem;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    width: 100%;

    img {
      display: block;
      width: 100%;
    }
  }

  .badges {
    bottom: 0;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;

    li {
      align-items: center;
      background: $creme;
      display: flex;
      justify-content: center;
      padding: 0.5rem 0.75rem;

      .material-icons {
        height: 22px;
        margin-right: 0.5rem;
        width: 22px;
      }
    }

    .featured-badge {
      background: $zesty-light;
      color: $zesty-light-inverted;
      fill: $zesty-light-inverted;
    }

    .hidden-badge {
      background: $grey-light;
      color: $grey-light-inverted;
      fill: $grey-light-inverted;
    }
  }

  p {
    color: $text-bold;
    font-weight: 500;

    .unique-id {
      color: lighten($text, 15%);
      font-weight: 400;
    }
  }
}

