.images-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0;
  border-top: 1px solid $grey-light;
  margin-top: $section-padding-vertical / 3;
  margin-bottom: 1rem;

  .hint {
    display: flex;
    align-items: center;
    font-size: $font-size - 1px;
    fill: lighten($text, 25%);

    svg {
      margin-right: 0.5rem;
      height: 22px;
      width: 22px;
    }

    p {
      color: lighten($text, 25%);
      margin: 0;
    }
  }
}

.images {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 2rem;

  a {
    display: block;
    text-decoration: none;
  }

  .image {
    position: relative;
    width: 100%;
    background: $grey center;
    background-size: cover;
    border-radius: $border-radius - 1px;
    overflow: hidden;
    margin-bottom: 1rem;
    line-height: 1.0;
    vertical-align: middle;

    img {
      display: block;
      width: 100%;
    }
  }

  .badges {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0.5rem 0.75rem;
      background: $creme;

      .material-icons {
        margin-right: 0.5rem;
        height: 22px;
        width: 22px;
      }
    }

    .featured-badge {
      background: $zesty-light;
      fill: $zesty-light-inverted;
      color: $zesty-light-inverted;
    }

    .hidden-badge {
      background: $grey-light;
      color: $grey-light-inverted;
      fill: $grey-light-inverted;
    }
  }

  p {
    font-weight: 500;
    color: $text-bold;

    .unique-id {
      font-weight: 400;
      color: lighten($text, 15%);
    }
  }
}