.table-wrapper {
  width: 100%;
  overflow-x: auto;
}

.model-list {
  border: 2px solid $grey-light;
  border-radius: $border-radius;
  border-collapse: collapse;
  width: 100%;

  tr:not(:last-child) {
    td,
    th {
      border-bottom: 2px solid $grey-light;
    }
  }

  td,
  th {
    color: $text;
    white-space: nowrap;
    padding: 0.5rem;
    text-align: left;

    &:first-child {
      padding-left: 1.5rem;
    }

    &:last-child {
      padding-right: 1.5rem;
    }
  }

  th {
    color: $text-bold;
    background: $grey-lighter;
    padding: 0.5rem 1rem;
  }

  .stretch {
    width: 100%;
  }

  .vert-wrapper {
    display: flex;
    flex-direction: column;

    p {
      margin: 0;
    }
  }

  tr:hover .actions {
    opacity: 1;
  }

  .actions {
    //opacity: 0;
    transition: opacity 100ms;

    .buttons {
      margin: 0;
      justify-content: flex-end;
    }

    .button-tertiary {
      padding: 8px 18px;
    }
  }

  .highlight {
    font-weight: 500;
    color: $text-bold;
  }
}