.staff-area {
  padding: ($section-padding-vertical - 6rem) 0;

  &:not(#index) .wrapper {
    max-width: $staff-wrapper-width;
  }

  p {
    max-width: 60ch;
  }

  .head-and-button {
    display: flex;
    flex-direction: column;

    .button,
    .button-secondary {
      margin-top: 1.25rem;
      justify-content: center;
    }
  }
}

.staff-dash {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2rem;
  margin: 3rem 0 0;

  & > a {
    display: block;
    text-decoration: none;

    &:hover h2 {
      color: $zesty;
    }
  }

  h2 {
    margin: 1rem 0 0.25rem;
    transition: color 200ms;
  }

  p {
    margin: 0;
  }
}

@media (min-width: 780px) {
  .staff-area {
    padding: ($section-padding-vertical - 2rem) 0;

    .head-and-button {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .button,
      .button-secondary {
        margin-top: 0;
      }
    }
  }
}