form:not(.unstyled),
.form-success {
  background: $creme;
  border: 2px solid $grey-light;
  border-radius: $border-radius;
  margin-top: 3rem;
  max-width: 400px;
  padding: 1.5rem;
  position: relative;
  width: 100%;
  z-index: 10;
}

.inverted form:not(.unstyled),
.inverted .form-success {
  background: $licorice;
  border: 0;

  em {
    color: darken($licorice-inverted, 10%);
    line-height: 1.8;
  }
}

form:not(.unstyled) > p {
  margin-bottom: 0;
  text-align: center;

  a.anchor {
    color: darken($licorice-inverted, 15%);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.staff-area form:not(.unstyled) {
  border: 0;
  max-width: 430px;
  padding: 0;
}

