form:not(.unstyled),
.form-success {
  position: relative;
  border-radius: $border-radius;
  border: 1px solid $grey-light;
  padding: 1.5rem;
  width: 100%;
  max-width: 400px;
  z-index: 10;
  background: $creme;
  margin-top: 3rem;
}

.inverted form:not(.unstyled),
.inverted .form-success {
  background: $licorice;
  border: none;
}

form:not(.unstyled) > p {
  text-align: center;
  margin-bottom: 0;

  a.anchor {
    color: lighten($text, 15%);
    text-decoration: none;
  }
}