.subheading {
  color: $zesty-dark;
  font-size: 84%;
  font-weight: 500;
  letter-spacing: 0.05em; // Extra 5% letter spacing for added readability
  text-transform: uppercase;

  // Add some spacing above, unless this is the first child in a container.
  &:not(:first-child) {
    margin-top: 2rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $text-bold;
}

h1 {
  font-size: 2.2em;
  font-weight: normal; // Font weight should be similar to that of the subheading (visually).
  margin-bottom: 1.5rem;
  margin-top: 0.25rem; // Space between h1 and subheading
}

h2 {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.8;
}

.inverted {
  // Invert the natural colour of the headings when inside an inverted section of the page.
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $white;
  }
}

