label {
  color: darken($text, 15%);
  line-height: 1.8;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  background: $grey-lighter;
  border: 1px solid $grey;
  border-radius: $border-radius - 1px;
  color: $creme-inverted;
  line-height: 1;
  margin-top: 0.1rem;
  padding: 12px;
  width: 100%;
}

textarea {
  height: 8em;
  line-height: 1.6;
  max-width: 100%;
  min-height: 8em;
  min-width: 100%;
}

input[type="file"] {
  @include hidden();
}

input[type='submit'].button.wide {
  margin-top: 1.25rem;
}

.field {
  margin: 1.25rem 0;

  &:first-of-type {
    margin-top: 0;
  }

  .field-errors {
    color: $text;
    margin: 0.25rem 0 1rem;
    padding: 0 0 0 1.5rem;
  }

  &.field-section {
    margin: 2rem 0;
  }
}

.actions {
  margin-top: 2rem;
}

.inverted {
  label {
    color: $licorice-inverted;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    background: $licorice-lighter;
    border: 0;
    color: $licorice-lighter-inverted;
  }

  .field .field-errors {
    color: darken($licorice-light-inverted, 15%);
  }
}

