<%- content_for :title, t('view.landing.index.title') %>
<%- content_for :description, t('view.landing.index.description') %>
<%- content_for :canonical_url, root_url %>

<h1>Landing#index</h1>
<p>Find me in app/views/landing/index.html.erb</p>
