<h1>Your message was received</h1>

<p>Hello <%= @name %>,</p>
<p>Thanks for contacting the staff at North Coast Marble & Granite! We've successfully received the following message, and we'll try and get back to you as soon as possible.</p>
<pre class="message-body"><%= @message %></pre>