<h1>Welcome</h1>

<p>An NCMG staff account has just been created for you. You can log in with the following details:</p>

<p><strong>Email:</strong> <%= @staff.email %></p>
<p><strong>Password:</strong> <%= @password %></p>

<p>You can login here: <%= link_to 'Staff Area', staff_root_url %></p>