// Maximum width of a content wrapper
$wrapper-width: 1200px;
$staff-wrapper-width: $wrapper-width;

// The amount of vertical padding that a section should have.
$section-padding-vertical: 9rem;

// Standard border radius
$border-radius: 3px;

// Size of one dot in the repeating dot background patterns.
$dot-size: 48px;

