// Maximum width of a content wrapper
$wrapper-width: 1200px;
$staff-wrapper-width: 1100px;

// The amount of vertical padding that a section should have.
$section-padding-vertical: 8rem;

// Standard border radius
$border-radius: 3px;