.buttons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: -0.5rem;
  margin-top: 1.5rem;

  .button,
  .button-secondary,
  .button-tertiary {
    margin: 0.5rem;
  }
}

.button,
.button-secondary,
.button-tertiary {
  display: flex;
  align-items: center;
  font-size: $font-size;
  font-weight: 500;
  line-height: 1.1;
  vertical-align: middle;
  border: none;
  border-radius: $border-radius - 1px;
  cursor: pointer;
  text-decoration: none;
  padding: 14px 22px;
  @include no-highlight();

  // For buttons that should fill the width of their container
  &.wide {
    justify-content: center;
    width: 100%;
  }

  svg.material-icons {
    height: 22px;
    width: 22px;
  }

  .material-icons {
    margin: -3px 0.75rem;

    &:first-child {
      // It is best to visually adjust these values with inline styles.
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

}

.button {
  background: $zesty;
  color: $zesty-inverted;

  &[disabled] {
    background: $grey;
    color: $grey-inverted;
    cursor: no-drop;
  }

  svg.material-icons {
    fill: $zesty-inverted;
  }
}

.button-secondary {
  position: relative;
  color: $text;
  background: none;
  border: 1px solid $grey-light;
  padding: 13px 21px;
  transition: color 200ms;

  .material-icons {
    color: $zesty;
    fill: $zesty;
  }

  &:hover {
    color: $zesty-dark;
  }

  &.danger {
    color: $danger-dark;
  }
}
