.button,
.button-secondary,
.button-tertiary {
  display: flex;
  align-items: center;
  font-size: $font-size;
  font-weight: 500;
  line-height: 1.1;
  vertical-align: middle;
  border: none;
  border-radius: $border-radius - 1px;
  cursor: pointer;
  text-decoration: none;
  padding: 14px 22px;
  @include no-highlight();

  // For buttons that should fill the width of their container
  &.wide {
    justify-content: center;
    width: 100%;
  }

  svg.material-icons {
    height: 22px;
    width: 22px;
  }

  .material-icons {
    margin: -3px 0.75rem;

    &:first-child {
      // It is best to visually adjust these values with inline styles.
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }

}

.button {
  background: $zesty;
  color: $zesty-inverted;

  &[disabled] {
    background: $grey;
    color: $grey-inverted;
    cursor: no-drop;
  }

  svg.material-icons {
    fill: $zesty-inverted;
  }
}