.contact-us .form-success {
  display: grid;
  grid-template-columns: 55px 1fr;
  grid-gap: 1.5rem;
  align-items: center;
  overflow: hidden;

  .icon {
    background: $zesty-dark;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    fill: $zesty-dark-inverted;
    height: 28px;
    width: 28px;
  }

  h2 {
    margin: 0;
  }

  p {
    margin: 0;
  }
}