.footer {
  background: $licorice;
  border-bottom: 4px solid $zesty;

  // Wraps links and business info beside each other.
  .footer-wrapper {
    padding: 1rem 1rem 2rem;

    .spacer {
      grid-column: 3;
      background: $licorice-light;
    }
  }

  .base {
    background: $licorice-dark;
    padding: 1.5rem 0;

    .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }

    p {
      margin: 0.5rem 0 0;
      color: darken($licorice-dark-inverted, 15%);
    }

  }

  h2 {
    font-weight: normal;
    font-size: $font-size;
    color: $licorice-inverted;
    margin: 1.25rem 0 0.25rem;
  }

  .columns {
    line-height: 1.75;

    .numbers {
      display: flex;
      align-items: center;

      & > *:not(:last-child) {
        margin-right: 1.5rem;
      }
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }

    p,
    a,
    address {
      color: darken($licorice-inverted, 12%);
      text-decoration: none;
      font-style: normal;
      margin: 0;
    }

  }
}

@media (min-width: 480px) {
  .footer .base .wrapper {
    flex-direction: row;

    p {
      margin: 0.2rem 0;
    }
  }
}

@media (min-width: 830px) {
  .footer {
    .footer-wrapper {
      padding: 0;

      & > div:not(.spacer) {
        grid-column: 2;
        display: flex;
        justify-content: space-between;
      }

      $padding: 2rem;

      .links {
        padding: $padding 1rem;
      }

      .business-info {
        padding: $padding;
        background: $licorice-light;
        width: 328px;
      }
    }

    .columns {
      display: flex;
      align-items: flex-start;

      .column {
        margin: 0 1.5rem;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      .numbers {
        display: grid;
        grid-gap: 1.5rem;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 1.25rem;

        & > *:not(:last-child) {
          margin-right: unset;
        }
      }
    }

    h2:first-child {
      margin-top: 0;
    }
  }
}

@media (min-width: 1200px) {
  .footer .footer-wrapper {
    display: grid;
    grid-template-columns: 1fr $wrapper-width 1fr;
  }
}