.header {
  border-top: 4px solid $zesty;
  background: $licorice-dark;
  padding: 1.5rem 0;

  .logo {
    display: block;
    height: 25px;
    line-height: 1.0;

    img {
      height: 100%;
    }
  }
}