.header {
  border-top: 4px solid $zesty;
  background: $licorice-dark;
  padding: 1rem 0;
  position: relative;
  width: 100%;
  z-index: 10000;

  .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    margin: 0.25rem 0;
  }

  nav {
    position: fixed;
    background: $licorice-dark;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    color: $licorice-inverted;
    border-bottom: 4px solid $zesty;

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      fill: $licorice-dark-inverted;
      color: inherit;
      margin: 0;
      text-decoration: none;
      padding: 0.75rem;
      font-size: 14px;
      text-align: center;
      max-width: 100px;
      line-height: 1.4;

      svg {
        margin-bottom: 0.25rem;
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .large {
    display: none;
  }
}

.header-placeholder {
  display: none;
}

.footer-placeholder {
  display: block;
  height: 70px;
}

@media (min-width: 780px) {

  .header-placeholder {
    display: block;
    height: 75px;
  }

  .footer-placeholder {
    display: none;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    nav {
      position: relative;
      background: none;
      align-items: center;
      justify-content: flex-start;
      border-bottom: none;

      .button-tertiary {
        padding: 11px 0.25rem;
        font-weight: 400;
      }

      a {
        font-size: $font-size;
        max-width: unset;
        margin: 0 0.5rem;
        padding: 0.25rem;
        line-height: 1.1;

        svg {
          display: none;
        }

        &:last-child {
          color: $licorice-light-inverted;
          background: $licorice-light;
          padding: 11px 18px;
          margin-left: 1rem;
          border-radius: $border-radius - 1px;
        }
      }
    }

    .large {
      display: unset;
    }

    .small {
      display: none;
    }
  }
}