.landing {
  position: relative;
  background: $licorice;
  padding: ($section-padding-vertical / 2) 0 $section-padding-vertical;
  margin-bottom: 12rem;

  .wrapper {
    position: relative;
    z-index: 15;
  }

  img.landing-logo {
    display: block;
    width: 100%;
    max-width: 270px;
    padding: 0 1rem;
    margin: 0 auto;
  }

  p {
    text-align: center;
    width: 100%;
    max-width: 60ch;
    margin: 3rem auto;
    font-size: $font-size + 1px;
  }

  .buttons {
    justify-content: center;
    flex-wrap: wrap;
  }

  .button-secondary {
    color: $licorice-inverted;
    border-color: darken($grey, 30%);

    .material-icons {
      fill: $licorice-inverted;
    }
  }

  .dots-1 {
    top: 290px;
    left: 2%;
    width: $dot-size * 2;
    height: $dot-size * 4;
  }

  .dots-2 {
    top: 5px;
    right: 0;
    width: $dot-size * 3;
    height: $dot-size * 5;
  }
}

@media (min-width: 700px) {
  .landing {
    img.landing-logo {
      padding: 0;
    }

    p {
      font-size: $font-size + 2px;
    }
  }
}

@media (min-width: 780px) {
  .landing {
    padding: $section-padding-vertical 0;

    .dots-1 {
      top: 250px;
      left: 10%;
      width: $dot-size * 7;
      height: $dot-size * 9;
    }

    .dots-2 {
      top: 5px;
      right: 14%;
      width: $dot-size * 8;
      height: $dot-size * 3;
    }
  }
}