.landing {
  position: relative;
  background: $licorice;
  padding: $section-padding-vertical 0;
  margin-bottom: 9rem;

  .wrapper {
    position: relative;
    z-index: 15;
  }

  img.landing-logo {
    display: block;
    width: 100%;
    max-width: 290px;
    margin: 0 auto;
  }

  p {
    text-align: center;
    width: 100%;
    max-width: 60ch;
    margin: 3rem auto;
    font-size: $font-size + 2px;
  }

  .buttons {
    justify-content: center;
    flex-wrap: wrap;
  }

  .button-secondary {
    color: $licorice-inverted;
    border-color: darken($grey, 30%);

    .material-icons {
      fill: $licorice-inverted;
    }
  }

  .dots-1 {
    top: 250px;
    left: 6%;
    width: $dot-size * 7;
    height: $dot-size * 9;
  }

  .dots-2 {
    top: 5px;
    right: 14%;
    width: $dot-size * 8;
    height: $dot-size * 3;
  }
}