.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  pointer-events: none;
  opacity: 0;
  background: $licorice;
  transition: opacity 300ms;

  &.active {
    opacity: 0.65;
    pointer-events: all;
  }
}

.modal-wrapper {
  width: 100%;
  max-width: $staff-wrapper-width;
  margin: 0 auto;
  padding: $section-padding-vertical 1rem;
}