.products-and-services {
  padding: ($section-padding-vertical / 2) 0;

  .image-and-content {
    display: flex;
    flex-direction: column-reverse;

    &:not(:first-of-type) {
      margin-top: 4rem;
    }

    &.reversed {
      flex-direction: column;
    }

    .image-wrapper {
      border-radius: $border-radius;
      overflow: hidden;
      margin-top: 2rem;
    }

    img {
      width: 100%;
      display: block;
      line-height: 1;
      max-width: 500px;
    }

    p {
      max-width: 70ch;
      line-height: 1.7;
    }
  }

  .suppliers {
    margin-top: 3rem;

    .links {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: center;
    }

    h2 {
      text-align: center;
      color: lighten($text, 10%);
    }

    a {
      display: block;
      line-height: 1.0;
      vertical-align: middle;
      padding: 1rem;

      img {
        height: 100%;
        max-height: 32px;
        max-width: 100%;
      }
    }

    .caesarstone img {
      max-height: 40px;
    }

    .silestone img {
      max-height: 30px;
      margin-top: 5px;
    }

    .smartstone img {
      max-height: 45px;
      margin-top: 2px;
    }

    .essastone img {
      max-height: 28px;
      margin-top: 4px;
    }

    .quantum-quartz img {
      max-height: 46px;
      margin-top: 6px;
    }

    .cdk img {
      max-height: 52px;
      margin-top: -9px;
    }

    .wk img {
      max-height: 47px;
      margin-top: -3px;
    }
  }
}

@media (min-width: 780px) {
  .products-and-services {
    padding: $section-padding-vertical 0;

    .suppliers {
      margin-top: 6rem;
    }
  }
}

@media (min-width: 1000px) {
  .products-and-services {
    .image-and-content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 5rem;
      align-items: center;

      &:not(:first-of-type) {
        margin-top: 6rem;
      }

      .image-wrapper {
        margin-top: 0;
      }

      img {
        max-width: unset;
      }
    }

    .suppliers {
      display: grid;
      grid-template-columns: 1fr 345px;

      a img {
        height: 40px;
      }
    }
  }
}
