<div class="footer">
  <!-- Wraps together links and business information -->
  <div class="footer-wrapper">
    <div class="links">
      
    </div>

    <div class="business-info">

    </div>
  </div>

  <div class="base">
    <div class="wrapper">
      <%= link_to root_path, class: 'logo' do %>
        <%= image_tag 'logo.svg' %>
      <% end %>

      <p>&copy; <%= Date.today.year %> North Coast Marble &amp; Granite</p>
    </div>
  </div>
</div>