<%- content_for :title, t('view.staff.images.edit.title') %>
<%- content_for :canonical_url, staff_images_url %>

<div class="staff-area">
  <div class="wrapper">

    <!-- Breadcrumbs -->
    <nav class="breadcrumbs">
      <ul>
        <li><%= link_to 'Staff Area', staff_root_path %></li>
        <li><%= link_to 'Images', staff_images_path %></li>
        <li><%= link_to 'Edit Image', edit_staff_image_path(@image) %></li>
      </ul>
    </nav>

    <!-- Header -->
    <span class="subheading">Staff Controls</span>
    <h1>Edit Image</h1>

    <hr/>

    <div class="js-form-wrapper">
      <%= render 'form' %>
    </div>
  </div>
</div>